

<!DOCTYPE html>
<!--[if IE 9]><html lang="en" class="ie9 no-js"><![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Contact Us  - Habitat Sitecore Framework</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="" />
    <script src="/scripts/Sitecore.Foundation.Frameworks.js"></script>
    <script src="/scripts/Sitecore.Foundation.Theming.js"></script>

    <link href="/styles/vendor.css" rel="stylesheet" />
    <link href="/styles/niteflight.css" rel="stylesheet" />


</head>
<body class="header-static ">
    <div id="main-container">
        <header class="header-static">
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 hidden-xs">
                            <nav>
                                <ul class="nav nav-service navbar-nav nav-social">
                                    <li class="">
                                        <a href="http://facebook.com/sitecore" target="_blank" title="Facebook" class="btn btn-social-icon btn-facebook">
                                            <span class="fa fa-facebook"></span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="http://twitter.com/sitecore" target="_blank" title="Twitter" class="btn btn-social-icon btn-twitter">
                                            <span class="fa fa-twitter"></span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="https://www.youtube.com/user/sitecorechannel" target="_blank" title="YouTube" class="btn btn-social-icon btn-youtube">
                                            <span class="fa fa-youtube"></span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-md-6 hidden-xs">
                            <div class="pull-right">

                                <nav>
                                    <ul class="nav nav-service navbar-nav nav-pills">
                                        <li class="">
                                            <a href="https://github.com/Sitecore/Habitat/" target="" title="Habitat" class="">
                                                Habitat
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="http://helix.sitecore.net" target="" title="Helix" class="">
                                                Helix
                                            </a>
                                        </li>
                                        <li class="divider-left">
                                            <a href="https://www.sitecore.net" target="_blank" title="Sitecore.net" class="">
                                                Sitecore.net
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <nav class="navbar navbar-default navbar-static" id="mainNavbar">
                <div class="container">
                    <div class="navbar-left">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#siteNavbar" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>




                        <a class="navbar-brand " href="/en">
                            <span class="logo">
                                <img src="/-/media/Habitat/Images/Logo/Habitat.png?h=50&amp;la=en&amp;mh=50&amp;w=200&amp;hash=6D917968B80F4E41CB1D1040DCEBB260AAD233BB" alt="Habitat Logo" width="200" height="50" DisableWebEdit="False" />
                            </span>
                        </a>

                    </div>
                    <div class="navbar-center">
                        <div class="collapse navbar-collapse" id="siteNavbar">
                            <ul class="nav navbar-nav">
                                <li class="">
                                    <a class="text-uppercase" href="/en" target="">
                                        Home
                                    </a>
                                </li>
                                <li class=" dropdown">
                                    <a href="/en/About-Habitat" class="dropdown-toggle text-uppercase" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        About Habitat<span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="">
                                            <a href="/en/About-Habitat/Getting-Started" target="">Getting Started</a>
                                        </li>
                                        <li class="">
                                            <a href="http://helix.sitecore.net" target="_blank">Helix Documentation</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class=" dropdown">
                                    <a href="/en/Modules" class="dropdown-toggle text-uppercase" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        Modules<span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="">
                                            <a href="/en/Modules/Project" target="">Project</a>
                                        </li>
                                        <li class="">
                                            <a href="/en/Modules/Feature" target="">Feature</a>
                                        </li>
                                        <li class="">
                                            <a href="/en/Modules/Foundation" target="">Foundation</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="">
                                    <a class="text-uppercase" href="/en/More-Info" target="">
                                        More Info
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="navbar-right">
                        <div class="navbar-activity">
                            <ul class="nav navbar-nav">



                                <li class="dropdown hidden-xs">
                                    <a href="#" class="btn dropdown-toggle" data-toggle="dropdown" title="habitat">
                                        <i class="fa fa-home"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="">
                                            <a href="http://accesssecurepak.demo.andy.central-demo.sitecore.net">ACCESS SECUREPAK</a>
                                        </li>
                                        <li class="">
                                            <a href="http://acmerx.demo.andy.central-demo.sitecore.net">AcmeRX</a>
                                        </li>
                                        <li class="">
                                            <a href="http://clone1.demo.andy.central-demo.sitecore.net">Clone1</a>
                                        </li>
                                        <li class="">
                                            <a href="http://clone2.demo.andy.central-demo.sitecore.net">Clone2</a>
                                        </li>
                                        <li class="">
                                            <a href="http://finance.demo.andy.central-demo.sitecore.net">Habitat Finance</a>
                                        </li>
                                        <li class="">
                                            <a href="http://legal.demo.andy.central-demo.sitecore.net">Habitat Legal</a>
                                        </li>
                                        <li class="">
                                            <a href="http://utilities.demo.andy.central-demo.sitecore.net">Habitat Utilities</a>
                                        </li>
                                        <li class="active">
                                            <a href="http://habitat.demo.andy.central-demo.sitecore.net">About Habitat</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-globe"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="active">
                                            <a href="http://habitat.demo.andy.central-demo.sitecore.net/en/more info/">English</a>
                                        </li>
                                        <li class="">
                                            <a href="http://habitat.demo.andy.central-demo.sitecore.net/da/more info/">dansk</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown hidden-xs">
                                    <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-user"></i>
                                    </a>
                                    <div class="dropdown-menu">
                                        <h4>Login</h4>
                                        <form id="loginModal">
                                            <div class="login-body">

                                                <div class="form-group">
                                                    <label class="control-label" for="Email">E-mail</label>
                                                    <input class="form-control" id="popupLoginEmail" name="Email" placeholder="Enter your e-mail" type="text" value="" />

                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label" for="Password">Password</label>
                                                    <input class="form-control" id="popupLoginPassword" name="Password" placeholder="Enter your password" type="password" />

                                                </div>
                                                <button type="button" class="btn btn-block btn-primary" onclick="login('loginModal')">Login</button>
                                                <a class="btn btn-block btn-default" href="/en/Login/Forgot-Password">Forgot your password?</a>
                                                <a class="btn btn-block btn-default" href="/en/Register">Register</a>
                                            </div>
                                        </form>
                                    </div>
                                </li>
                                <li class="navbar-activity-search">
                                    <form action="/en/Search" class="navbar-form" role="search">
                                        <div class="form-group">
                                            <input type="text" name="query" placeholder="Enter a text to search for..." autocomplete="off" />
                                        </div>
                                    </form>

                                    <a href="#" class="btn navbar-toggle-search" data-toggle-class="is-searching" data-target="#mainNavbar">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <main role="main">
            <header class="page-header bg-media bg-parallax" style="background-image: url('/-/media/Habitat/Images/Square/Habitat-043-square.jpg?h=1080&amp;w=1080&amp;hash=CC625D0625B5F90812CA1410E4166188D4913F5A')">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="">
                            <a href="/en">Home</a>
                        </li>
                        <li class="active">
                            <a href="/en/More-Info">More Info</a>
                        </li>
                    </ol>
                </div>
            </header>
            <div class="container">

                <div class="row">
                    <div class="container">
                        <div class="col-lg-12">
                            @Html.Sitecore().Placeholder("general-information")
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-8">
                        <article>

                            <header>
                                <h1>
                                    Find out more
                                </h1>
                                <div class="lead">
                                    Want to know more about Helix and Habitat? Here are some interesting links, videos and material for you.
                                </div>
                            </header>

                            <div class="m-b-2">
                                <p>The Habitat project - this website - is completely available for you on GitHub, source code and all.</p>
                                <p>The full description of the Helix Guidelines are available on http://helix.sitecore.net.</p>
                                <p>There are also a number of videos concerning the methodology and it's underlying patterns.</p>
                            </div>
                        </article>
                        <div>
                            <div class="row">
                                <div class="col-md-4">


                                    <ul class="nav nav-stacked">
                                        <li>
                                            <a href="https://github.com/Sitecore/Habitat" target="_blank" title="GitHub Repository">

                                                <span>GitHub Repository</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://github.com/Sitecore/Habitat/wiki" target="_blank" title="Wiki">

                                                <span>Wiki</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://github.com/Sitecore/Habitat/wiki/03-How-can-I-contribute%3F" target="_blank" title="How to Contribute">

                                                <span>How to Contribute</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-8">



                                    <div class="thumbnail  m-b-1">
                                        <header class="thumbnail-header">
                                            <h3>
                                                Recommended Reading
                                            </h3>
                                        </header>
                                        <div>
                                            <a href="http://www.amazon.com/Agile-Principles-Patterns-Practices-C/dp/0131857258">
                                                <img src="/-/media/Habitat/Images/Content/Recommended-Reading.png?h=172&amp;la=en&amp;mw=500&amp;w=500&amp;hash=32347F9A75113162A5418040D79DECBEDA292245" class="img-responsive" alt="Recommended Reading" width="500" height="172" DisableWebEdit="False" />
                                            </a>
                                        </div>
                                        <div class="caption">
                                            <p>
                                                Many of the principles and thoughts behind the Habitat methodology are described in the Books by Robert C. Martin. Recommended reading includes: "Clean Code: A Handbook of Agile Software Craftsmanship" and "Agile Principles, Patterns, and Practices in C#"
                                            </p>
                                            <a class="btn btn-default" href="http://www.amazon.com/Agile-Principles-Patterns-Practices-C/dp/0131857258" target="_blank">Agile Principles, Patterns and Practises</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <aside>



                            <div class="jumbotron text-center " style="background-image: none">

                                <h2>
                                    Download Habitat Now!
                                </h2>
                                <p class="">
                                    Habitat is available as a Sitecore Package and the sourcecode is available on Github.
                                </p>
                                <a class="btn btn-primary btn-lg" href="http://www.github.com/sitecore/habitat" target="_blank">Visit Habitat on Github</a>
                            </div>

                            <div class="well bg-primary">
                                <span class="label">
                                    Documentation
                                </span>
                                <h4>
                                    Discover Sitecore Helix
                                </h4>
                                <p>
                                    Sitecore Helix is the official guidelines and recommended practices on Sitecore development.
                                </p>
                                <a class="btn btn-default" href="http://helix.sitecore.net" target="_blank">Read the Documentation Now</a>
                            </div>
                        </aside>
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        <div class="col-lg-12">
                            @Html.Sitecore().Placeholder("assignments")
                        </div>
                    </div>
                </div>
            </div><section class="section section-full bg-secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">



                            <div class="jumbotron text-center bg-media" style="background-image: url(&#39;/-/media/Habitat/Images/Wide/Habitat-038-wide.jpg?h=660&amp;w=1920&amp;hash=12EFEE4D2027407A108983C4FBC1F71505FC5696&#39;)">

                                <span class="label">
                                    Want More?
                                </span>
                                <h2>
                                    Check out the Sitecore Habitat Demos
                                </h2>
                                <p class="">
                                    Just as this Habitat site, there are additional Sitecore demo sites available on github.<br />Check out for example the Legal Services, Financial Services or Utilities sites.
                                </p>
                                <a class="btn btn-primary btn-lg" href="https://github.com/sitecore/sitecore.demo" target="_blank">Sitecore Demos on GitHub</a>
                            </div>

                        </div>
                    </div>
                </div>
            </section>

        </main>
        <footer class="bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-6">


                        <ul class="nav nav-stacked">
                            <li>
                                <a href="http://community.sitecore.net" target="_blank" title="Community">

                                    <span>Community</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://https//doc.sitecore.net" target="_blank" title="Documentation">

                                    <span>Documentation</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://kb.sitecore.net" target="_blank" title="Knowledge Base">

                                    <span>Knowledge Base</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://spn.sitecore.net" target="_blank" title="Partner Network">

                                    <span>Partner Network</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-6">


                        <ul class="nav nav-stacked">
                            <li>
                                <a href="http://www.sitecore.net/learn/blogs/best-practice-blogs.aspx" target="_blank" title="Best Practice Blogs">

                                    <span>Best Practice Blogs</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.sitecore.net/learn/blogs/business-blogs.aspx" target="_blank" title="Business Blogs">

                                    <span>Business Blogs</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.sitecore.net/learn/blogs/technical-blogs.aspx" target="_blank" title="Technical Blogs">

                                    <span>Technical Blogs</span>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="http://www.sitecore.net/about/contact.aspx" target="_blank" title="Contact Sitecore">

                                    <span>Contact Sitecore</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-6">

                        <div class="well ">
                            <h4>
                                About Habitat
                            </h4>
                            <p>
                                Habitat sites are demonstration sites for the Sitecore® Experience Platform™.<br />The sites demonstrate the full set of capabilities and potential of the platform through a number of both technical and business scenarios.
                            </p>
                            <a class="btn btn-default" href="http://github.com/sitecore/habitat" target="_blank">Example available on GitHub</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">


                        <div class="well ">
                            <h4>Contact information</h4>

                            <address>
                                <p>
                                    <strong>Sitecore Corporation</strong>
                                    <br />
                                    2320 Marinship Way<br />Sausalito, CA 94965<br />USA
                                </p>
                                <p>
                                    <br />
                                    <i class="fa fa-phone"></i> +1 415 380 0600              <br />
                                    <i class="fa fa-envelope"></i> <a href="mailto:sales@sitecore.net">sales@sitecore.net</a>
                                </p>
                            </address>
                        </div>

                    </div>
                </div>
            </div>
            <div class="footer-bottom text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                            <small class="copyright">
                                <p>
                                    © Copyright 2017, <a href="http://sitecore.net" target="_blank" title="Opens in a new window">Sitecore</a>. All Rights Reserved<br />
                                    <small>&ldquo;Habitat&rdquo; as used here is for demonstration purposes only and to represent the software and services provided by Sitecore further described at www.sitecore.net.</small>
                                </p>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <div class="off-canvas-sidebar off-canvas-sidebar-right">
            <div class="btn-group-vertical hover" role="group">
                <button type="button" class="btn btn-info sidebar-closed" data-toggle="sidebar" title="Open visit details panel" data-side="right">
                    <span class="glyphicon glyphicon-info-sign icon-md "></span>
                </button>
                <button type="button" class="btn btn-info btn-lg sidebar-opened" style="display: none" data-toggle="sidebar" title="Close visit details panel" data-side="right">
                    <span class="glyphicon glyphicon-remove"></span>
                    <span class="hover-only">Close</span>
                </button>
                <button href="#" style="display: none" class="btn btn-success refresh-sidebar sidebar-opened" title="Refresh visit details panel">
                    <span class="glyphicon glyphicon-refresh"></span>
                    <span class="hover-only">Refresh</span>
                </button>
                <button href="#" class="btn btn-danger end-visit sidebar-opened" style="display: none" title="End the current visit and submit it to the Sitecore Experience Database">
                    <span class="glyphicon glyphicon-eye-close"></span>
                    <span class="hover-only">End Visit</span>
                </button>
            </div>

            <div class="sidebar sidebar-fixed-right">
                <div class="panel-group" id="experiencedata">
                    <div class="panel panel-primary">
                        <div class="panel-heading" role="tab">
                            <h3 class="panel-title">
                                <a role="button" href="#visitsPanel" data-toggle="collapse" class="panel-title collapsed" data-parent="#experiencedata">
                                    <span class="fa fa-heart"></span>
                                    Engagement
                                    <span class="badge" title="Engagement value:" data-toggle="tooltip" data-placement="bottom">
                                        <span class="fa fa-heart"></span>
                                        0
                                    </span>
                                    <span class="badge" title="Pages Viewed" data-toggle="tooltip" data-placement="bottom">
                                        <span class="fa fa-eye"></span>
                                        1
                                    </span>
                                    <span class="badge" title="Number of Visits" data-toggle="tooltip" data-placement="bottom">
                                        <span class="fa fa-history"></span>
                                        1
                                    </span>
                                    <span class="glyphicon glyphicon-chevron-down pull-right"></span>
                                </a>
                            </h3>
                        </div>
                        <div id="visitsPanel" class="panel-collapse collapse" role="tabpanel">
                            <div class="panel-body">
                                <div class="media">
                                    <div class="media-left">
                                        <span class="fa fa-heart"></span>
                                    </div>

                                    <div class="media-body ">
                                        <h4 class="media-title">
                                            Engagement value:
                                            <strong class="pull-right">0</strong>
                                        </h4>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-left">
                                        <span class="fa fa-eye"></span>
                                    </div>
                                    <div class="media-body ">
                                        <h4 class="media-title">
                                            Pages seen in this visit:
                                            <strong class="pull-right">1</strong>
                                        </h4>
                                    </div>
                                </div>
                                <table class="table table-condensed table-borderless">
                                    <tr>
                                        <td class="text-muted text-nowrap"></td>
                                        <td class="text-nowrap" title="More-Info">More-Info</td>
                                        <td>
                                            <span>-</span>
                                        </td>
                                    </tr>
                                </table>
                                <div class="media">
                                    <div class="media-left">
                                        <span class="fa fa-history"></span>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-title">
                                            Visits to the site:
                                        </h4>
                                        <div class="alert alert-info small">
                                            This is your first visit to the site.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading" role="tab">
                            <h3 class="panel-title">
                                <a role="button" href="#personalInfoPanel" data-toggle="collapse" class="panel-title collapsed" data-parent="#experiencedata">
                                    <span class="fa fa-user"></span>
                                    Personal Information
                                    <span class="glyphicon glyphicon-chevron-down pull-right"></span>
                                </a>
                            </h3>
                        </div>
                        <div id="personalInfoPanel" class="panel-collapse collapse" role="tabpanel">
                            <div class="panel-body">
                                <div class="media">
                                    <div class="media-left">
                                        <span class="fa fa-user"></span>
                                    </div>
                                    <div class="media-body ">
                                        <h4 class="media-title">
                                            You are anonymous
                                        </h4>
                                        <dl></dl>
                                    </div>
                                    <div class="media-right">
                                        <span class="fa fa-user-secret icon-lg"></span>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-left">
                                        <span class="fa fa-tablet"></span>
                                    </div>
                                    <div class="media-body ">
                                        <h4 class="media-title">
                                            Device
                                        </h4>
                                        <div class="text-nowrap">
                                            <dl>
                                                <dt>Device</dt>
                                                <dd>Misc, Windows PC</dd>
                                                <dt>Browser</dt>
                                                <dd>Unidentified</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <a role="button" href="#onsiteBehaviorPanel" data-toggle="collapse" class="panel-title collapsed" data-parent="#experiencedata">
                                    <span class="fa fa-bullseye"></span>
                                    Onsite Behavior
                                    <span class="glyphicon glyphicon-chevron-down pull-right"></span>
                                </a>
                            </h4>
                        </div>
                        <div id="onsiteBehaviorPanel" class="panel-collapse collapse" role="tabpanel">
                            <div class="panel-body">
                                <div class="media">
                                    <div class="media-left">
                                        <span class="fa fa-users"></span>
                                    </div>
                                    <div class="media-body ">
                                        <h4 class="media-title">
                                            Profiling
                                        </h4>
                                        <div class="media-body">
                                            <div class="alert alert-info small">
                                                You have not been profiled yet
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-left">
                                        <span class="fa fa-trophy"></span>
                                    </div>
                                    <div class="media-body ">
                                        <h4 class="media-title">
                                            Triggered goals
                                        </h4>
                                        <div class="media-body">
                                            <ul class="nav nav-tabs nav-justified small">
                                                <li class="active">
                                                    <a href="#onSiteBehaviorGoals" data-toggle="tab">Goals</a>
                                                </li>
                                                <li>
                                                    <a href="#onSiteBehaviorPageEvents" data-toggle="tab">Page Events</a>
                                                </li>
                                            </ul>

                                            <div class="tab-content">
                                                <div role="tabpanel" class="tab-pane active" id="onSiteBehaviorGoals">
                                                    <div class="alert alert-info small">
                                                        You have triggered no goals so far
                                                    </div>
                                                </div>
                                                <div role="tabpanel" class="tab-pane" id="onSiteBehaviorPageEvents">
                                                    <div class="alert alert-info small">
                                                        You have triggered no page events so far
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-left">
                                        <span class="fa fa-money"></span>
                                    </div>
                                    <div class="media-body ">
                                        <h4 class="media-title">
                                            Outcomes
                                        </h4>
                                        <div class="alert alert-info small">
                                            You have reached no outcomes
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <a role="button" href="#referralPanel" data-toggle="collapse" class="panel-title collapsed" data-parent="#experiencedata">
                                    <span class="fa fa-bullhorn"></span>
                                    Referral
                                    <span class="glyphicon glyphicon-chevron-down pull-right"></span>
                                </a>
                            </h4>
                        </div>
                        <div id="referralPanel" class="panel-collapse collapse" role="tabpanel">
                            <div class="panel-body">
                                <div class="media">
                                    <div class="media-left">
                                        <span class="fa fa-sign-in"></span>
                                    </div>
                                    <div class="media-body ">
                                        <h4 class="media-title">
                                            Referrer
                                        </h4>
                                        <div class="text-nowrap" title="www.google.com">
                                            www.google.com
                                        </div>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-left">
                                        <span class="fa fa-bullhorn"></span>
                                    </div>
                                    <div class="media-body ">
                                        <h4 class="media-title">
                                            Campaigns
                                        </h4>
                                        <div class="alert alert-info small">
                                            You have not been associated with any campaigns
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
    <script src="/scripts/accounts/accounts.js"></script>
    <script src="/scripts/Demo/VisitDetails.js"></script>

</body>
</html>