@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions

<div>
    @Html.Sitecore().Field("Primary assignment")
</div>
<div>
    @Html.Sitecore().Field("Secondary Assignment")
</div>
<div>
    @Html.Sitecore().Field("Due date")
</div>
<div>
    @Html.Sitecore().Field("Person Responsible")
</div>
