<!--
	Unicorn.Configs.Default.config

	This is an example of how to configure a basic Unicorn configuration using your own config patch file.
	Copy this file to use as a basis for your own configuration definitions.

	Enabled configuration definition patches should be present on all environments Unicorn is present on.

	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
	  <sc.variable name="Hackathon.RandomPick.SerializationSource" value="$(dataFolder)\unicorn\src\" />
    <unicorn>
			<configurations>
				<configuration name="Hackathon.RandomPick.Foundation.Serialization.SolutionRoots">
					<targetDataStore physicalRootPath="$(Hackathon.RandomPick.SerializationSource)Foundation\Serialization\serialization\SolutionRoots" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
					<predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
						<include name="Root.Branches" database="master" path="/sitecore/templates/branches/Hackathon.RandomPick">
							<exclude children="true" />
						</include>
						<include name="Root.Layouts" database="master" path="/sitecore/layout/Layouts/Hackathon.RandomPick">
							<exclude children="true" />
						</include>
						<include name="Root.Media" database="master" path="/sitecore/media library/Hackathon.RandomPick">
							<exclude children="true" />
						</include>
						<include name="Root.Models" database="master" path="/sitecore/layout/Models/Hackathon.RandomPick">
							<exclude children="true" />
						</include>
						<include name="Root.PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/Hackathon.RandomPick">
							<exclude children="true" />
						</include>
						<include name="Root.Renderings" database="master" path="/sitecore/layout/Renderings/Hackathon.RandomPick">
							<exclude children="true" />
						</include>
						<include name="Root.Settings" database="master" path="/sitecore/system/Settings/Hackathon.RandomPick">
							<exclude children="true" />
						</include>
						<include name="Root.Templates" database="master" path="/sitecore/templates/Hackathon.RandomPick">
							<exclude children="true" />
						</include>
					</predicate>
					<dataProviderConfiguration enableTransparentSync="false" type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn" singleInstance="true" />
					<syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" maxConcurrency="1" type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" />
				</configuration>
				<configuration name="Hackathon.RandomPick.Foundation.Serialization.LayersRoots">
					<targetDataStore physicalRootPath="$(Hackathon.RandomPick.SerializationSource)Foundation\Serialization\serialization\LayersRoots" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
					<predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
						<!-- Settings -->
						<include name="Feature.Settings" database="master" path="/sitecore/system/Settings/Hackathon.RandomPick/Feature">
							<exclude children="true" />
						</include>
						<include name="Foundation.Settings" database="master" path="/sitecore/system/Settings/Hackathon.RandomPick/Foundation">
							<exclude children="true" />
						</include>
						<include name="Project.Settings" database="master" path="/sitecore/system/Settings/Hackathon.RandomPick/Project">
							<exclude children="true" />
						</include>

						<!-- Templates -->
						<include name="Feature.Templates" database="master" path="/sitecore/templates/Hackathon.RandomPick/Feature">
							<exclude children="true" />
						</include>
						<include name="Foundation.Templates" database="master" path="/sitecore/templates/Hackathon.RandomPick/Foundation">
							<exclude children="true" />
						</include>
						<include name="Project.Templates" database="master" path="/sitecore/templates/Hackathon.RandomPick/Project">
							<exclude children="true" />
						</include>

						<!-- Branches -->
						<include name="Foundation.Branches" database="master" path="/sitecore/templates/branches/Hackathon.RandomPick/Foundation">
							<exclude children="true" />
						</include>

						<!-- Renderings -->
						<include name="Feature.Renderings" database="master" path="/sitecore/layout/Renderings/Hackathon.RandomPick/Feature">
							<exclude children="true" />
						</include>
						<include name="Foundation.Renderings" database="master" path="/sitecore/layout/Renderings/Hackathon.RandomPick/Foundation">
							<exclude children="true" />
						</include>
						<include name="Project.Renderings" database="master" path="/sitecore/layout/Renderings/Hackathon.RandomPick/Project">
							<exclude children="true" />
						</include>

						<!-- Layouts -->
						<include name="Feature.Layouts" database="master" path="/sitecore/layout/Layouts/Hackathon.RandomPick/Feature">
							<exclude children="true" />
						</include>
						<include name="Foundation.Layouts" database="master" path="/sitecore/layout/Layouts/Hackathon.RandomPick/Foundation">
							<exclude children="true" />
						</include>
						<include name="Project.Layouts" database="master" path="/sitecore/layout/Layouts/Hackathon.RandomPick/Project">
							<exclude children="true" />
						</include>

						<!-- Placeholder Settings -->
						<include name="Feature.PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/Hackathon.RandomPick/Feature">
							<exclude children="true" />
						</include>
						<include name="Foundation.PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/Hackathon.RandomPick/Foundation">
							<exclude children="true" />
						</include>
						<include name="Project.PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/Hackathon.RandomPick/Project">
							<exclude children="true" />
						</include>

						<!-- Models -->
						<include name="Feature.Models" database="master" path="/sitecore/layout/Models/Hackathon.RandomPick/Feature">
							<exclude children="true" />
						</include>
						<include name="Foundation.Models" database="master" path="/sitecore/layout/Models/Hackathon.RandomPick/Foundation">
							<exclude children="true" />
						</include>
						<include name="Project.Models" database="master" path="/sitecore/layout/Models/Hackathon.RandomPick/Project">
							<exclude children="true" />
						</include>

						<!-- Media -->
						<include name="Feature.Media" database="master" path="/sitecore/media library/Hackathon.RandomPick/Feature">
							<exclude children="true" />
						</include>
						<include name="Foundation.Media" database="master" path="/sitecore/media library/Hackathon.RandomPick/Foundation">
							<exclude children="true" />
						</include>
						<include name="Project.Media" database="master" path="/sitecore/media library/Hackathon.RandomPick/Project">
							<exclude children="true" />
						</include>

					</predicate>
					<dataProviderConfiguration enableTransparentSync="false" type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn" singleInstance="true" />
					<syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" maxConcurrency="1" type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" />
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
