<configuration 
	xmlns:patch="http://www.sitecore.net/xmlconfig/" 
	xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore role:require="Standalone or ContentManagement">
		<unicorn>
			<configurations>
				<configuration name="Hackathon.RandomPick.Feature.PageTour" dependencies="Hackathon.RandomPick.Foundation.*">
					<targetDataStore physicalRootPath="$(Hackathon.RandomPick.SerializationSource)Feature\PageTour\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
					<predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
						<!-- <include name="Branches" database="master" path="/sitecore/templates/Branches/Hackathon.RandomPick/Feature/PageTour" /> -->
						<include name="Layouts" database="master" path="/sitecore/layout/Layouts/Hackathon.RandomPick/Feature/PageTour" />
						<include name="Media" database="master" path="/sitecore/media library/Hackathon.RandomPick/Feature/PageTour" />
						<include name="Models" database="master" path="/sitecore/layout/Models/Hackathon.RandomPick/Feature/PageTour" />
						<include name="PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/Hackathon.RandomPick/Feature/PageTour" />
						<include name="Renderings" database="master" path="/sitecore/layout/Renderings/Hackathon.RandomPick/Feature/PageTour" />
						<include name="Settings" database="master" path="/sitecore/system/Settings/Hackathon.RandomPick/Feature/PageTour" />
						<include name="Templates" database="master" path="/sitecore/templates/Hackathon.RandomPick/Feature/PageTour" />
					</predicate>
					<dataProviderConfiguration enableTransparentSync="false" type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn" singleInstance="true" />
					<syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" maxConcurrency="1" type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" />
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
